@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 80vh;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
.pageleft {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  animation-name: page-left;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.formpage {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formpage input {
  width: 100%;
}

.header {
  max-width: 80%;
}

.header1 {
  padding-top: 100px;
  font-weight: 600;
  font-size: 30px;
  font-family: "Pacifico", Sans-serif;
  padding-bottom: 10px;
  animation-name: slide;
  animation-duration: 3s;
  animation-delay: 3.1s;
  animation-fill-mode: both;
}
.header2 {
  padding-bottom: 40px;
  color: grey;
  font-size: 20px;
  animation-name: slide;
  animation-duration: 3s;
  animation-delay: 3.2s;
  animation-fill-mode: both;
}
.emailadd {
  margin-bottom: 20px;
  height: 45px;
  border-radius: 3px;
  padding-left: 15px;
  border: 2px solid lightgrey;
  font-size: 15px;
  width: 270px;
  animation-name: slide;
  animation-duration: 3s;
  animation-delay: 3.4s;
  animation-fill-mode: both;
}

.pswd {
  height: 45px;
  border-radius: 3px;
  padding-left: 15px;
  border: 2px solid lightgrey;
  font-size: 15px;
  width: 270px;
  animation-name: slide;
  animation-duration: 3s;
  animation-delay: 3.6s;
  animation-fill-mode: both;
}
.a {
  color: rgb(34, 89, 255);

  float: right;
  font-size: 14px;
  animation-name: slide;
  animation-duration: 3s;
  animation-delay: 3.8s;
  animation-fill-mode: both;
}
a:hover {
  color: rgb(51, 10, 138);
}
.login {
  font-weight: bold;
  font-size: 15px;
  color: white;
  height: 45px;
  border-radius: 3px;
  border: none;
  background-color: #000f5b;
  margin-bottom: 140px;
  margin-top: 10px;
  width: 100%;
  letter-spacing: 1px;
  animation-name: slide;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-fill-mode: both;
}
.pageright {
  flex: 1;
  background-image: url("./Naruto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 20px 20px 0px;
}
@keyframes page-left {
  0% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: 400px;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

// @media screen and (max-width: 680px) {
//   .container {
//     flex-direction: column-reverse;
//     justify-content: space-between;
//     align-items: center;
//   }
// }
